body {
  position: relative;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  background-color: #151A1E;
  overflow-x: hidden;
  font-family: 'Mukta', sans-serif;
}

.container {
  margin: 0 auto;
  padding: 0 20px;
  width: 100%;
  max-width: 1440px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
}

a {
  position: relative;
  text-decoration: none;
}

.logo-text {
  display: inline-block;
  margin: 15px 0;
  font-family: 'Black Ops One', cursive;
  font-size: 100px;
  color: #fff;
}

.logo-reel {
  position: absolute;
  top: 20px;
  left: 270px;
  width: 100px;
  height: 100px;
}

.js-selection {
  padding: 10px 20px;
  outline: none;
  box-shadow: 0px 0px 25px #00AD9F;
  border-radius: 5px;
  font-family: 'Mukta', sans-serif; 
}

.js-sort {
  padding: 10px 20px;
  outline: none;
  box-shadow: 0px 0px 25px #00AD9F;
  border-radius: 5px;
  font-family: 'Mukta', sans-serif; 
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.list {
  margin: 50px auto;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  list-style-type: none;
}

.box {
  width: 100%;
  max-width: 350px;
  margin: 0 10px;
  margin-bottom: 30px;
  padding: 20px 10px;
  box-shadow: 0px 0px 15px #00AD9F;
}

img {
  width: 300px;
  height: 400px;
}

.films-name {
  margin: 5px;
  font-size: 30px;
  color: #fff;
  text-align: center;
}

.films-info {
  font-size: 14px;
  color: #a39e9e;
  text-align: center;
}

.films-genre {
  margin: 5px 0;
  font-size: 18px;
  color: #01b5fc;
  text-align: center;
}

.js-bookmark {
  padding: 5px 20px;
  outline: none;
  width: 155px;
  height: 50px;
  box-shadow: 0px 0px 25px #00AD9F;
  border-radius: 5px;
  font-family: 'Mukta', sans-serif; 
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  background-color: #01b5fc;
  transition: all 0.2s ease;
}

.js-bookmark:hover {
  padding: 1px 8px;
  cursor: pointer;
  font-size: 28px;
}

.js-bookmark:active {
  opacity: 0.5;
}

.js-modal {
  margin-top: 10px;
  padding: 5px 10px;
  font-size: 16px;
  font-weight: bold;
  font-family: 'Mukta', sans-serif; 
  transition: all 0.2s ease;
  border: none;
}

.js-modal:hover {
  cursor: pointer;
  box-shadow: #01b5fc 0px 0px 30px -5px;
  color: #fff;
  background-color: #01b5fc;
}

.js-modal-box {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 1s ease-in-out;
}

.js-modal-box-open {
  display: block;
  transition: all 1s ease-in-out;
}

.modal-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.modal-wrapper {
  position: fixed;
  z-index: 999;
  top: 50px;
  left: calc(50% - 250px);
  margin: 200px auto;
  padding: 20px;
  font-size: 18px;
  text-align: center;
  width: 500px;
  color: #fff;
  box-shadow: 0px 0px 500px 100px #00AD9F;
  background-color: #151A1E;
  animation: fade-in-up 1s ;
}

.modal-button {
  padding: 5px 15px;
  margin-top: 10px;
  font-family: 'Mukta',sans-serif;
  box-shadow: 0px 0px 25px #00AD9F;
  border-radius: 5px;
  border: none;
}

.modal-button:hover {
  cursor: pointer;
  background-color: #01b5fc;
  color: #fff;
  transition: all 0.3s ease-in-out;
}

.bookmark-button {
  margin-top: 10px;
  margin-left: 10px;
  padding: 5px 10px;
  font-size: 16px;
  font-weight: bold;
  font-family: 'Mukta', sans-serif; 
  transition: all 0.2s ease;
  border: none;
}

.bookmark-button:hover {
  cursor: pointer;
  box-shadow: #01b5fc 0px 0px 30px -5px;
  color: #fff;
  background-color: #01b5fc;
}

@keyframes fade-in-up {
  0% {
      opacity: 0;
      transform: translateY(-80px);
  }
  100% {
      opacity: 1;
      transform: translateY(0);
  }
}